@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 100%;
    overflow-y: scroll;
}

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}